button{
    width: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 3s;

        &:active{
            background-color: green;
            transition: background-color 0s;
        }
}